/*jScrollPane - v2.0.16; UI Multiselect v1.13; FancyBox v2.1.5; Jquery Checkbox(check/radio);*/

/*JSCROLLPANE v.2*/
/*core*/
.jspContainer{
	overflow: hidden;
	position: relative;
}
.jspPane{
	position: absolute;
}
.jspVerticalBar{
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 100%;
	background: none;
}
.jspHorizontalBar{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: none;
}
.jspVerticalBar *,
.jspHorizontalBar *{
	margin: 0;
	padding: 0;
}
.jspCap{
	display: none;
}
.jspHorizontalBar .jspCap{
	float: left;
}
.jspTrack{
	background: none;
	position: relative;
}
.jspDrag{
	background: #b3b3b3;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	border-radius:5px;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{
	float: left;
	height: 100%;
}
.jspArrow{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}
.jspArrow.jspDisabled{
	cursor: default;
	background: #80808d;
}
.jspVerticalBar .jspArrow{
	height: 16px;
}
.jspHorizontalBar .jspArrow{
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus{
	outline: none;
}

.jspCorner{
	background: #eeeef4;
	float: left;
	height: 100%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}
/*core end*/

/*custom*/
.scrollpane{
	width: 100%;
	max-height: 245px;
	overflow: auto;
}
.scrollpane .jspPane{
	width:auto !important;
	right:0 !important;
	left:0;
}
.scrollpane.jspScrollable .jspPane{
	right:55px !important;
}
.scrollpane .jspDrag{
	background:#d3d3d3;
	width:23px;
	height:23px;
	background: #ffb129;
	left:50%;
	margin-left:-11.5px;
}
.scrollpane .jspVerticalBar{
	background:none;
	width:31px;
}
.scrollpane .jspCap{
	display:block;
	 width:10px;
	 height:10px;
}
.scrollpane .jspTrack{
	background:#fff;
	width:10px;
	margin:0 auto;
}
/*custom end*/
/*JSCROLLPANE v.2 END*/

/*UI-MULTISELECT*/
/*Core (modified)*/
.ui-multiselect { text-align:left; }
.ui-multiselect,
.ui-multiselect *:hover,
.ui-multiselect *:focus { outline:none !important; }
button.ui-multiselect::-moz-focus-inner {
	padding:0;
	border:0;
}
button.ui-multiselect {
	display:block;
	cursor:pointer;
	background:none !important;
	border:0 !important;
	padding:0 !important;
	height:auto !important;
	width:100% !important;
	color:transparent;
	position:relative;
	overflow:visible;
}
button.ui-multiselect:after {	content:""; }
button.ui-multiselect .ui-multiselect-inner {
	display:block;
	position:relative;
	overflow:hidden;
	zoom:1;
}
button.ui-multiselect.ui-state-disabled,
button.ui-multiselect.ui-state-disabled * { cursor:default !important; }
button.ui-multiselect .ui-multiselect-value {
	display:block;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	zoom:1;
	max-width:100%;
}
button.ui-multiselect .ui-multiselect-divider {
	position:absolute;
	width:0;
}
button.ui-multiselect .ui-multiselect-arrow {
	position:absolute;
}
button.ui-multiselect .ui-multiselect-icon {
	background:url(../img/sprite-icons.png) no-repeat 0 0;
	position:absolute;
}
.ui-multiselect-single .ui-multiselect-checkboxes input {
	position:absolute !important;
	top:auto !important;
	left:-9999px;
}
.ui-multiselect-header li.ui-multiselect-close {
	text-align:right;
}
.ui-multiselect-menu {
	display:none;
	position:absolute;
	z-index:10000;
	text-align:left;
	left:0;
	top:0;
}
.ui-multiselect-checkboxes {
	position:relative /* fixes bug in IE6/7 */;
	overflow-y:auto;
}
.ui-multiselect-checkboxes label {
	display:block;
	border:none;
}
.ui-multiselect-checkboxes label input {
	position:relative;
}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
	text-align:center;
}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
	display:block;
	text-decoration:none;
}
/*CORE Filter*/
.ui-multiselect-hasfilter ul {
	position:relative;
}
.ui-multiselect-filter input {
	width:100px;
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}
div.ui-multiselect-menu ul,
div.ui-multiselect-menu li {
	background:none;
	margin:0;
	padding:0;
	list-style:none;
}
div.ui-multiselect-menu ul {
	max-height:300px;
	overflow:visible;
	background:url(../img/empty.png) repeat;
}
div.ui-multiselect-menu .ui-multiselect-checkboxes li:first-child {
	display:none !important;
}
div.ui-multiselect-menu li {
	overflow:hidden;
	zoom:1;
}
div.ui-multiselect-menu ul label {
	cursor:pointer;
	position:relative;
}
/*fix scroll drop list*/
.list-fix-scroll {
	overflow-y:auto !important;
}
/*fix scroll drop list end*/
.wrap-select,
[class^="wrap-select-"],
[class*=" wrap-select-"] {
	position:relative;
}
.wrap-select select,
[class^="wrap-select-"] select,
[class*=" wrap-select-"] select {
	width:100%;
}
/*Core (modified) end*/

/*Custom style*/
/*Button part custom select */
button.select .ui-multiselect-inner {
	padding-right:25px !important;
	height:28px;
}
button.select .ui-multiselect-inner,
div.select .ui-multiselect-menu-inner {
	border:1px solid #e0e0e0;
	background:#fff;
}
button.select.ui-state-active .ui-multiselect-inner,
div.select .ui-multiselect-menu-inner {
	border-color:#1aa8f2;
	 -webkit-box-shadow:0 0 3px rgba(0,0,0,0.25);
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.25);
	box-shadow:0 0 3px rgba(0,0,0,0.25);
}
button.select .ui-multiselect-inner, 
div.select ul label {
	font: normal normal 14px/16px Arial;
	color:#000;
	padding:5px 10px 2px;
}
button.select.ui-state-placeholder .ui-multiselect-inner {
	color:#ccc;
}
button.select .ui-multiselect-arrow {
	/*background:url(../img/sprite-arrows.png) no-repeat 0 0;*/
	width:0px;
	height:0px;
	border:5px solid transparent;
	border-top-color:#000;
	right:5px;
	top:50%;
	margin:-5px 0px 0px;
}
/*Button part custom select end */

/*Drop part custom select end */
div.select.top {}
div.select.bottom {}
div.select .ui-multiselect-menu-inner {}
div.select .ui-multiselect-checkboxes li {}
div.select .ui-multiselect-checkboxes li:first-child,
div.select .ui-multiselect-checkboxes li.first {}
div.select .ui-multiselect-checkboxes li.last {}
div.select ul label {
	padding-top:5px;
	padding-bottom:5px;
}
div.select ul label.ui-state-hover,
div.select ul label.ui-state-active {
	background:#ECECEC;
	color:#000;
}
div.select ul label.ui-state-active {}
/*Drop part custom select end */

/*Round style */
button.select .ui-multiselect-inner,
div.select .ui-multiselect-menu-inner,
div.select .ui-multiselect-checkboxes,
div.select .ui-multiselect-checkboxes li.first.last,
div.select .ui-multiselect-checkboxes li.first.last label {
	border-radius:5px;
}
div.select .ui-multiselect-checkboxes li:first-child,
div.select .ui-multiselect-checkboxes li:first-child label,
div.select .ui-multiselect-checkboxes li.first,
div.select .ui-multiselect-checkboxes li.first label {
	border-radius:5px 5px 0 0;
}
div.select .ui-multiselect-checkboxes li.last,
div.select .ui-multiselect-checkboxes li.last label {
	border-radius:0 0 5px 5px;
}
/*Round style end */

/*Widget corner part custom select*/
div.select .corner-ui-multiselect {}
div.select.top .corner-ui-multiselect {}
div.select.bottom .corner-ui-multiselect {}
/*Widget corner part custom select end*/

/*Jscrollpane part custom select*/
div.select .ui-multiselect-wrap-scrollpane {}
div.select .ui-multiselect-scrollpane ul {
	height:auto;
	max-height:none;
	overflow:hidden !important;
}
div.select .ui-multiselect-scrollpane {
	width: 100%;
	max-height: 180px;
	overflow: auto;	
}
div.select .ui-multiselect-scrollpane .jspPane {
	width:auto !important;
	right:0 !important;
	left:0;
}
div.select .ui-multiselect-scrollpane.jspScrollable .jspPane {
	right:10px !important;
}
div.select .ui-multiselect-scrollpane .jspTrack {
	background:none;
}
div.select .ui-multiselect-scrollpane .jspDrag {
	background:#f47933;
	width:5px;
}
div.select .ui-multiselect-scrollpane .jspVerticalBar {
	background:#d1d1d1;
	width:5px;
	right:5px;
}
/*Jscrollpane part custom select end*/
/*UI-MULTISELECT END*/

/*FANCYBOX v2.1.5*/
/*core*/
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}
.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}
.fancybox-skin {
	position: relative;
	color: #444;
	text-shadow: none;
}
.fancybox-opened {
	z-index: 8030;
}
.fancybox-outer, .fancybox-inner {
	position: relative;
}
.fancybox-inner {
	overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}
.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}
.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}
.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../img/fancybox/fancybox_sprite.png');
}
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}
#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../img/fancybox/fancybox_loading.gif') center center no-repeat;
}
.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}
.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../img/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}
.fancybox-prev {
	left: 0;
}
.fancybox-next {
	right: 0;
}
.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}
.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}
.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}
.fancybox-nav:hover span {
	visibility: visible;
}
.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}
/* Overlay helper */
.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}
.fancybox-lock body {
    /*overflow: hidden !important;*/
}
.fancybox-lock-test {
    overflow-y: hidden !important;
}
.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../img/fancybox/fancybox_overlay.png');
}
.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}
/* Title helper */
.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}
.fancybox-opened .fancybox-title {
	visibility: visible;
}
.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}
.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}
.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}
.fancybox-title-inside-wrap {
	padding-top: 10px;
}
.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}
/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('../img/fancybox/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('../img/fancybox/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
/*core end*/

/*custom*/
/*Custom popup*/
.fancybox-popup .fancybox-skin {
	background:none;
	-moz-box-shadow: none ;
	-webkit-box-shadow: none ;
	box-shadow: none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-khtml-border-radius:0;
}
.fancybox-popup .fancybox-close {
	background: url("../img/sprite-icons.png") repeat 0 -198px;
    border: none;
    height: 11px;
    right: 48px;
    top: 28px;
    width: 11px;
}
.fancybox-popup .fancybox-close:hover {
	opacity:0.6;
}
/*popup-container*/
.popup-container {
	display:none;
	position:relative;
}
.popup-inner {
	padding:30px;
	position:relative;
	zoom:1;
}
.popup-head{
    padding:0 0 20px;
}
.popup-inner h2,
.popup-title {
	display:block;
	margin:0;
	padding:0 0 10px;
	color:#fff;
}
/*custom end*/
/*FANCYBOX v2.1.5 END*/

/*JQUERY CHECKBOX(RADIOBOX)*/
/*type checkbox */
.checkbox,
.radiobox,
.radiobox-color {
	/*-- add to main css class .inl-block end*/
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align:top;
	/*-- add to main css class .inl-block end*/
	cursor: pointer;
	margin:0 6px 0 0;
	position:relative;
	z-index:5;
	background:#fff;
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.2);
	border:1px solid #d2d2d2;
	width:15px;
	height:15px;
}
.checkbox img,
.radiobox img,
.radiobox-color img {
	position:absolute;
	top:50%;
	left:50%;
}
.checkbox img {
	/*background: url(../img/sprite-icons.png) no-repeat 0 0;*/
	width: 9px; 
	height: 9px;
	margin:-4.5px 0px 0px -4.5px;
}
.checkbox img,
.checkbox-hover img,
.checkbox-disabled img,
.checkbox-checked .checkbox-disabled img {
	
}
.checkbox-checked img,
.checkbox-checked .checkbox-hover img {
	background: url(../img/sprite-icons.png) no-repeat 0 -374px;
}
/*type radio*/
.radiobox {
	border-radius:50%;
}
.radiobox img {
	width: 5px;
	height: 5px;
	border-radius:50%;
	margin:-2.5px 0px 0px -2.5px;
}
.radiobox img,
.radiobox-hover img,
.radiobox-disabled img,
.radiobox-checked .radiobox-disabled img {
	
}
.radiobox-checked img,
.radiobox-checked .radiobox-hover img {
	background:#228be2;
}
/*type radio end*/
/*type radio color*/
.radiobox-color  {}
.radiobox-color-checked,
.radiobox-color-checked .radiobox-color-hover  {
	border-color:#d3d3d3;
}
.radiobox-color img {
	width:15px;
	height:15px;
	margin:-7.5px 0px 0px -7.5px;
	background-image:url(../img/sprite-icons.png);
	background-position:9999px 9999px;
	background-repeat:no-repeat;
	background-color:#2ec84e; /*default color (no works js)*/
}
.radiobox-color-checked img,
.radiobox-color-checked .radiobox-color-hover img { }
/*type radio color end*/
/*JQUERY CHECKBOX(RADIOBOX) END*/