.container { 
	max-width:290px; 
	padding-right:16px !important;
	padding-left:16px !important;
} 
.logo {
	display:none;
}

/* navigation */
.navigation.active {
    left: -1px;
    padding: 29px 17px 44px;
    position: absolute;
    right: 0;
    width: auto;
	bottom:0;
	z-index:11;
}
.navigation.active:after {
	position:absolute;
	top:-1000px;
	bottom:-1000px;
	left:-1000px;
	right:-1000px;
	background:rgba(0,0,0,0.9);
	content:'';
}
.navigation.active .logo {
	display:block;
}
.navigation-list {
    margin: 0 0 23px;
	text-align:center;
}
.navigation-inner {
	padding:0 33px;
	position:relative;
	z-index:1;
}
.navigation-list li {
	font-weight:400;
	padding: 23px 0 29px;
	border-bottom: 1px solid #757575;
}
.navigation-list li:last-child {
	border:none;
}
.hidden-menu {
    padding: 17px 0 0;
}
.share {
    float: none;
    margin: 0 0 52px -33px;
    text-align: center;
}
.navigation .icon-menu {
    float: left;
    margin: 0 18px 0 -33px;
}
/* navigation end */

/* popup */
.hidden-top,
.popup  {
	display:block;
}
.currency-converter {
    width: auto;
}
.currency-converter .logo.logo-black{
	display:block;
}
.currency-converter .icon-menu span{
	background:#000;
}
.popup .icon-menu {
    margin: 0 11px 0 0;
}
.want-title, .sum-currency-title {
    float: none;
    font-weight: 400;
    line-height: 15px;
    padding: 0 0 11px;
}
.popup-title {
	background:#fff;
	padding:20px 0 30px;
}
.popup-title {
    margin: 0;
    padding: 42px 0 31px;
}
.popup-title h2 {
	color:#ababab;
}

/* popup-title-second */
.popup-title-second {
    border: none;
    padding-bottom: 0;
}
.want {
    margin: 0 3px 0 0;
    width: 182px;
}
.want-list label {
    padding: 3px 19px 6px;
}
.sum-currency .wrap-input, 
.sum-currency input[type="text"] {
    font: 400 16px/16px Roboto Condensed,Tahoma,Verdana,sans-serif;
    padding: 12px 18px 10px; 
}
.sum-currency {
    margin: 0;
    width: 100px;
}
.checkbox-currency-list {
    clear: both;
    display: block;
    margin: 17px 0 0;
}
.checkbox-currency-list li {
    float: left;
    text-align: center;
    width: 33.3%;
}
/* popup-title-second end */

/* table-currency-converter */
.table-currency-converter th:first-child div:before {
    top: 9px;
}
.table-currency-converter th,
.table-currency-converter td {
    padding: 4px 0 6px 14px;
	vertical-align:top;
	line-height:24px;
}
.table-currency-converter th {
	padding:4px 0 27px 14px;
}
.table-currency-converter td {
    padding: 4px 0 6px 14px;
	min-height:40px
}
.table-currency-converter tbody tr:first-child td {
	padding:4px 0 6px 14px;
}
.table-currency-converter  td:first-child, 
.table-currency-converter  th:first-child {
    padding: 4px 0 6px 14px;
}
.table-currency-converter {
    margin: 0 -13px;
    width: 111%;
}
.exchange-rates {
    width: 42px;
}
.col-uah {
    width: 53px;
}
.col-eur {
    width: 78px;
}
/* table-currency-converter end */

.popup-inner {
    padding: 23px 15px 10px;
}
.table-currency-converter th, 
.table-currency-converter td {
	font-size:14px;
}
.fancybox-wrap {
	left:0 !important;
	width:auto !important;
	right:0 !important;
	top:0 !important;
}
.fancybox-inner {
	width:100% !important;
}
.popup {
    border-radius: 0;
}
/* popup end */

/* table-today */
.today-info .container { padding: 93px 47px 59px; } 
.title {
    margin: 0 0 9px;
    padding: 0 0 0 30px;
}
.price-large {
    font: 116px/122px helveticaneuecyr-ultralight,Tahoma,Verdana,sans-serif;
    margin: 0 0 31px;
}
.choose-currency-text-inner p { padding: 0 0 18px; } 
.btn-light.show-more-banks { display:block; } 
.table-today-info  th{ font-size:13px; } 
.table-today-info td, 
.table-today-info th {
    font: 800 14px/15px Roboto Condensed,Tahoma,Verdana,sans-serif;
}
.table-today-info {
    margin: 0;
    width: auto;
}
.icon-arrow-yellow-top, 
.icon-arrow-yellow-down {
    margin: 0 0 3px 6px;
}
.table-today-info tbody td:first-child { width: 63px; } 
.table-today-info tbody td:first-child span{ padding-left:0; } 
.table-today-info td:last-child, 
.table-today-info th:last-child {
    width: 57px;
}
.table-today-info {
    margin: 0 -4px 0 0;
    width: auto;
}
.table-today-info span { padding: 24px 2px 21px; } 
.table-today-info th span { padding: 10px 4px; } 
.table-today-info thead th:first-child { padding-left: 63px; } 
.scroll-link { bottom: 14px; } 
/* table-today end */

/* choose-currency */
.choose-currency .drop-title { padding:0; } 
.drop-title:after, 
.datepicker-btn:after {
	display:none;
}
.top-text .title { margin: 0; } 
.choose-currency-graph {
    height: 291px;
    margin: 0 0 41px;
}
#container {
	height:291px;
}
.highcharts-tooltip > span {
    padding: 10px 10px 0;
    width: 126px;
}
.highcharts-tooltip small {
    margin: 0 0 5px;
    padding: 0 0 5px;
}
.highcharts-tooltip td { padding: 4px 0 10px; } 
.highcharts-tooltip:after { display:none; } 
.choose-currency-text-inner { line-height: 28px; } 
.choose-currency .container { padding: 94px 0 33px; } 
.drop-content { width: 190px; } 
.ui-datepicker {
    margin-left: -16px;
    margin-top: 8px;
    padding: 17px 4px 11px;
    width: 280px;
}
.ui-datepicker th span, 
.ui-datepicker th a, 
.ui-datepicker td span, 
.ui-datepicker td a {
    width: 30px;
}
.title-callendar { margin: -2px 0 0 14px; } 
.ui-datepicker-header { margin: 0 16px 7px; } 
/* choose-currency end */

/* banks */
.banks { min-height: 621px; } 
.banks .container { padding: 93px 47px 34px; } 
.banks .title { margin: 0 0 19px; } 
.banks .datepicker-btn { padding:0; } 
.table-bay-sale .increment-currensy { display:none; } 
.table-bay-sale th, 
.table-bay-sale td  {
	font-size:14px;
	line-height:24px;
	vertical-align:top;
}
.table-bay-sale th { padding:5px 0 10px; } 
.col-sale { width: 60px; } 
.col-buy { width: 79px; } 
.table-bay-sale .icon-arrow-yellow-top, 
.table-bay-sale .icon-arrow-yellow-down {
    margin: 0 0 3px 8px;
}
.table-bay-sale td { padding:10px 1px 6px; } 
.table-bay-sale { margin: 0 0 20px; }
.banks-graphics {
	height:300px;
}
.banks-show {
	height:280px;
}
.banks .btn-light-small {
    margin: 6px 0 0;
}
.title-currency span{
	white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
	display:block;	
	max-width:300px;
}
.banks {
    min-height: 552px;
}
 /* banks end */

/* about */
.about .container { padding: 58px 47px 0; } 
.about .title { margin: 0 0 32px; } 
.columns { margin: 0 0 -39px; } 
.columns, 
.columns .column-inner {
	margin:0;
}
.columns .column:first-child,
.columns .column {
    display: block;
    margin: 0 0 39px;
    width: auto;
}
.subscribe-form { width:auto; } 
.social { text-align: center; } 
.social-list li {
	float:none;
	display:inline-block;
	margin: 0 0 0 16px;
}
.about-text { padding:0; } 
.subscribe p {
    font-size: 14px;
    line-height: 28px;
    padding: 0 33px 30px 0;
}
.subscribe-form { margin: 0 0 22px; } 
.social-list { margin: 0 0 0 -16px; } 
.about-text {
    font-size: 14px;
    line-height: 28px;
    padding: 0;
}
.title-sort:after { top: 4px; } 
.double-title-sort:before { top: 11px; } 
.title-sort:before,
.title-sort:after {
    right: -18px;
}
/* about end */

/* footer */
.footer {
	margin:-116px auto 0;
    min-height: 116px;
	text-align:center;
}
.footer-spacer { height: 52px; } 
.footer .copyright {
	padding:0 0 3px 6px;
}
.footer .studio,
.copyright {
    float: none;
}
.scroll-pane {
	height:auto;
	margin:0;
	padding:0;
}
.banks-name {
    max-width: 84px;
	line-height:22px;
}	
.table-bay-sale tbody tr:first-child td {
    padding: 19px 1px 0;
}
.table-bay-sale tr td:first-child .inner:before {
    padding: 0 164px;
}
.time {
	display:inline-block;
	vertical-align:top;
	line-height:22px;
}
.number-c {
	display:inline-block;
	vertical-align:top;
	line-height:22px;
}
/* footer end */