.container { 
	max-width:731px; 
	padding-right:19px !important;
	padding-left:19px !important;
} 

.navigation.active { padding: 29px 20px; } 
/* today-info */
.col-progressbar { display:none; } 
.header .container { padding: 29px 47px 21px; } 
.choose-language { margin: -6px 0 0; } 
.share { margin: 2px 0 0 30px; } 
.today-info .container { padding: 93px 47px 264px; } 
.table-today-info th span { padding: 10px 4px; } 
.table-today-info {
	margin: 0 -24px 0 0;
    width: 412px;
}
.table-today-info span { padding: 21px 4px 22px; } 
.table-today-info thead th:first-child { padding-left: 90px; } 
.table-today-info tbody td:first-child { width:90px; } 
.scroll-link { bottom: 88px; } 
/* today-info end */

/* choose-currency */
.choose-currency .container { padding: 94px 0 40px; } 
.choose-currency-text-inner p { padding:0 76px 18px; } 
.banks .title { margin: 0 0 63px; } 
.banks .container { padding: 93px 47px 73px; } 
/* choose-currency end */

/* about */
.about .container { padding: 64px 47px 107px; } 
.about .title { margin: 0 0 66px; } 
.columns { margin: 0 0 0 -42px; } 
.columns .column-inner { margin: 0 0 0 46px; } 
.columns .column:first-child { width:47%; } 
.columns .column{ width:53%; } 
.subscribe p { padding: 0 33px 14px 0; } 
.footer {
	margin:-85px auto 0;
    min-height: 85px;
}
.footer-spacer { height: 85px; } 
/* about end */