/*decimal list*/
.decimal-list {
	z-index: expression(
	runtimeStyle.zIndex = 1,
	function(node) {
		var list = node.childNodes, i = list.length;
			while(i--) {
				if(list[i].nodeType == 1) {
					list[i].insertAdjacentHTML('afterBegin', '<span class="decimal-list-mark">'+(i+1)+'. </span>');
				}
			}
		}(this));
	)
}
/*decimal list end*/

/*clearfix*/
.clearfix {   
    zoom:1;
}
/*clearfix end*/

/*inline-block */
.inline-block {	
	vertical-align:top;
	display:-moz-inline-stack;
	display:inline-block;	
	zoom:1;
	*display:inline;	
}
/*inline-block end*/


.title  {
 *zoom: expression( 
	  this.runtimeStyle.zoom="1",
	  this.appendChild( document.createElement("small") ).className="after"
	 );
}