.skin-menu { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#4d000000',GradientType=0 ); } 
.header-gradient { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303f9f', endColorstr='#00303f9f',GradientType=0 ); } 
.header-choose-currency .header-gradient{ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#512da8', endColorstr='#00512da8',GradientType=0 ); } 
.header-banks .header-gradient { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#448aff', endColorstr='#00448aff',GradientType=0 ); } 
.header.header-about .header-gradient{ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#002e2e2e',GradientType=0 ); } 
.navigation.active,
.navigation.active:after {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#e6000000',GradientType=0 );
}
.table-bay-sale tr td:first-child .inner:before {
    display:none;
}
.table-bay-sale tr:hover td:first-child .inner:before {
    display:block;
}
.header-right {
	max-width:300px;
}
.btn-light,
.btn-def {
	border:1px solid #fff;
}
.banks-graphics {
	height:350px;
}