.container { max-width:900px; } 
.price-large { font: 120px/172px helveticaneuecyr-bold,Tahoma,Verdana,sans-serif; } 
.col-sale { width: 111px; } 
.col-sale { width: 111px; }
.table-bay-sale tr td:first-child .inner:before { padding: 0 464px; } 
.choose-currency-graph {
    height: 421px;
    padding: 33px 0 0;
	clear:both;
	background:none !important;
}
.highcharts-tooltip:after {
	display:none;
}