/*FONTS*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700,400italic&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);
/*Helveticaneuecyr Black*/
@font-face {
	font-family:'helveticaneuecyr-black';
	src: url('../fonts/helveticaneuecyr/black/HelveticaNeueCyr-Black_gdi.eot');
	src: url('../fonts/helveticaneuecyr/black/HelveticaNeueCyr-Black_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneuecyr/black/HelveticaNeueCyr-Black_gdi.woff') format('woff'),
		url('../fonts/helveticaneuecyr/black/HelveticaNeueCyr-Black_gdi.ttf') format('truetype'),
		url('../fonts/helveticaneuecyr/black/HelveticaNeueCyr-Black_gdi.svg#HelveticaNeueCyr-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}
/*Helveticaneuecyr Bold*/
@font-face {
	font-family:'helveticaneuecyr-bold';
	src: url('../fonts/helveticaneuecyr/bold/HelveticaNeueCyr-Bold_gdi.eot');
	src: url('../fonts/helveticaneuecyr/bold/HelveticaNeueCyr-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneuecyr/bold/HelveticaNeueCyr-Bold_gdi.woff') format('woff'),
		url('../fonts/helveticaneuecyr/bold/HelveticaNeueCyr-Bold_gdi.ttf') format('truetype'),
		url('../fonts/helveticaneuecyr/bold/HelveticaNeueCyr-Bold_gdi.svg#HelveticaNeueCyr-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}
/*Helveticaneuecyr Roman*/
@font-face {
	font-family:'helveticaneuecyr-roman';
	src: url('../fonts/helveticaneuecyr/roman/HelveticaNeueCyr-Roman_gdi.eot');
	src: url('../fonts/helveticaneuecyr/roman/HelveticaNeueCyr-Roman_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneuecyr/roman/HelveticaNeueCyr-Roman_gdi.woff') format('woff'),
		url('../fonts/helveticaneuecyr/roman/HelveticaNeueCyr-Roman_gdi.ttf') format('truetype'),
		url('../fonts/helveticaneuecyr/roman/HelveticaNeueCyr-Roman_gdi.svg#HelveticaNeueCyr-Roman') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}
/*Helveticaneuecyr Medium*/
@font-face {
	font-family: 'helveticaneuecyr-medium';
	src: url('../fonts/helveticaneuecyr/medium/helveticaneuecyr-medium.eot?') format('eot'), 
	     url('../fonts/helveticaneuecyr/medium/helveticaneuecyr-medium.otf')  format('opentype'),
	     url('../fonts/helveticaneuecyr/medium/helveticaneuecyr-medium.woff') format('woff'), 
	     url('../fonts/helveticaneuecyr/medium/helveticaneuecyr-medium.ttf')  format('truetype'),
	     url('../fonts/helveticaneuecyr/medium/helveticaneuecyr-medium.svg#HelveticaNeueCyr-Medium') format('svg');
	font-weight:normal;
	font-style:normal;
}
/*Helveticaneuecyr Ultra Light*/
@font-face {
	font-family:'helveticaneuecyr-ultralight';
	src: url('../fonts/helveticaneuecyr/ultra-light/HelveticaNeueCyr-UltraLight_gdi.eot');
	src: url('../fonts/helveticaneuecyr/ultra-light/HelveticaNeueCyr-UltraLight_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneuecyr/ultra-light/HelveticaNeueCyr-UltraLight_gdi.woff') format('woff'),
		url('../fonts/helveticaneuecyr/ultra-light/HelveticaNeueCyr-UltraLight_gdi.ttf') format('truetype'),
		url('../fonts/helveticaneuecyr/ultra-light/HelveticaNeueCyr-UltraLight_gdi.svg#HelveticaNeueCyr-UltraLight') format('svg');
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}
/*NORMALIZE.CSS*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {  
  -ms-text-size-adjust: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 1 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;  
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/*NORMALIZE.CSS END*/

/*RESET*/
*,
:focus {
	outline:none;
}
body {	
	-webkit-fontype-smalloothing:antialiased;
}
body, 
html {
	height:100%;
	width:100%;
}
a ,
input[type=radio], 
input[type=checkbox], 
select {
	cursor:pointer;
}
select[disabled]{
	cursor: default;
}
/*normalization mozila*/
input:-webkit-autofill {
	background-color:transparent;
}
/*normalization ie7*/
*+html input[type=checkbox],
*+html input[type=radio] {
	width:13px; 
	height:13px;
}
textarea {
	resize:none;
	vertical-align:top;
}
em, 
i {
	font-style:italic;
}
img {
	vertical-align:top;
}
input {
	vertical-align:middle;
}
dl, 
menu,
ol,
ul {
	margin:1em 0;
}
dd {
	margin:0 0 0 40px;
}
menu,
ol,
ul {
	padding:0 0 0 40px;
}
nav ul, 
nav ol {
	list-style:none outside none;
}
blockquote, 
q {
	quotes:none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content:'';
	content:none;
}
q {
	quotes:"\201C" "\201D" "\2018" "\2019";
}
:focus {
	-moz-outline:3px solid #fff !important;
}
input[type="radio"]:focus {
	-moz-outline-radius:12px !important;
	-moz-outline-offset:0 !important;
}
input[type="checkbox"]:focus {
	-moz-outline-offset:-1px !important;
	-moz-outline:1px solid #000 !important;
}
*+html a,
*+html button,
*+html input[type="submit"],
*+html input[type="radio"], 
*+html input[type="checkbox"], 
*+html input[type="button"] {
	noFocusLine:expression(this.onFocus=this.blur());
}
/*fix button click opera old version*/
button:after {
    content:"";    
}
del {
	text-decoration:line-through;
}
table {
	width:100%;
}
form {
	margin:0;
	padding:0;
}
input::-ms-clear {
   display: none;
}
/*RESET END*/

/*TYPOGRAPHY STYLE*/
body {	
	background:#fff;
	color:#fff;
	font: 300 16px/30px Roboto Condensed,Tahoma,Verdana,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	color:#fff;
	font: normal normal 30px/1.2 Roboto Condensed, Tahoma, Verdana, sans-serif;
	margin:0;
	padding:0 0 10px;
}
h1 {
	padding-bottom:20px;
}
h2 {
	font-size:24px;
	line-height:1.3;
	padding-bottom:15px;
}
h3 {
	font-size:20px;
	line-height:1.25;
	padding-bottom:15px;
}
h4 {
	font-size:18px;
	line-height:1.25;
}
h5 {
	font-size:16px;
	line-height:1.3;
}
h6 {
	font-size:14px;
	line-height:1.4;
}
p {
	padding: 0 0 18px;
	margin:0;
}
hr {
	overflow:hidden;
	border:0;
	border-bottom:1px solid #000;
	margin-bottom:18px;
}
a {	
	color:#fff;
	text-decoration:none;
	border-bottom:1px solid #8aa7d6;
}
a:hover,
.share a,
.icon-arrow-bottom {
	border:none;
}
.title {
    margin: 0 0 138px;
    padding: 0 0 0 41px;
    position: relative;
}
.title:before,
.title .after
 {
	position:absolute;
	width:6px;
	background:#ffeb3b;
	top:8px;
	bottom:8px;
	content:'';
	left:0;
}
.title.title-gray:before {
	background:#00bcd4;
}
.title.title-gray-light:before {
	background:#b2ebf2;
}
.title.title-yellow:before {
	background:#ffec82;
}
.title .title-text ,
.title {
	font: 34px/36px helveticaneuecyr-black,Arial,Tahoma,Verdana,sans-serif;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}
.title .title-text{
	padding:0;
	line-height:44px;
}
blockquote {
	color: #666;
	font: normal normal 13px/19px  Arial, Tahoma, Verdana, sans-serif;
	margin:10px 0 20px;
	padding: 20px 45px 15px 47px;
	min-height:50px;
	position: relative;
	text-align:justify;
}

blockquote:before,
blockquote:after,
blockquote s,
blockquote u {
	position:absolute;
	font:italic normal 60px/68px Tahoma, Verdana, Arial, sans-serif;
	color:#666;
	text-decoration:none;
	overflow:hidden;
	width:41px;
	height:71px;
}
blockquote:before,
blockquote s {	
	left:0;
	top:0;
}
blockquote:before {
	content: "{";
}
blockquote:after,
blockquote u {
	bottom:0;
	right:7px;
}
blockquote:after{
	content: "}";
}

/*reset-list*/
[class$="-list"],
[class*="-list "],
[class$="-list"] > li,
[class*="-list "] > li {
	background:none;
	border:0;
	list-style:none;
	margin:0;
	padding:0;
}
/*reset-list end*/

/*default-list*/
.default-list {}
.default-list li {
	background:url(../img/list-decor.png) no-repeat 0 7px;
}
/*default-list end*/

/*decimal-list*/
.decimal-list { 
	counter-reset: item;
}
.decimal-list li {
	overflow:hidden;
}
.decimal-list li:before {
	content:counter(item) '. ';
	counter-increment:item;
}
.decimal-list li:before,
.decimal-list .decimal-list-mark {
	color:#000;
	float:left;
	margin:0 0 0 -25px;
}
/*decimal-list end*/

/*similar properties (default & decimal lists)*/
.default-list,
.decimal-list {
	padding:0 0 20px;
}
.default-list li,
.decimal-list li {
	padding:0 0 5px 25px;
}
/*similar properties (default & decimal lists) end*/

/*default-table*/
.default-table {
	margin:0 0 18px;
}
.default-table tbody tr.even td {
	background:#f7f7f7;
}
.default-table th,
.default-table td {
	border:1px solid #d1d0d0;
	color:#191516;
	font-style:normal;
	font-weight:normal;
	line-height:18px;
	padding:8px 15px 9px;
	text-align:left;
	vertical-align:top;
}
.default-table th {
	font-weight:bold;
}
.default-table th:first-child,
.default-table td:first-child { }
/*default-table end*/

/*default input(type: text, password), textarea*/
.wrap-input,
[class^="wrap-input-"],
[class*=" wrap-input-"],
textarea,
input[type=text],
input[type=password], 
input[type=date], 
input[type=datetime], 
input[type=email], 
input[type=number], 
input[type=search], 
input[type=tel], 
input[type=time], 
input[type=url]{
	background:#fff;
	border:1px solid #b8b8b8;
	color:#1e1e1e;
	cursor:text;
	padding:12px 20px 10px;
	height:17px;
	font: 400 14px/16px Roboto Condensed,Tahoma,Verdana,sans-serif;
	border-radius:20px;
}
.wrap-input,
[class^="wrap-input-"],
[class*=" wrap-input-"] {
	position:relative;
	height:auto;
	overflow:hidden;
}
.wrap-input input,
.wrap-input textarea,
[class^="wrap-input-"] input,
[class*=" wrap-input-"] input,
[class^="wrap-input-"] textarea,
[class*=" wrap-input-"] textarea {
	background:url(../img/empty.png) repeat !important;
	border:none !important;
	display:block !important;
	width:100% !important;
	padding:0 !important;
	float:left !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
	-khtml-border-radius:0 !important;
	border-radius:0 !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
textarea,
.wrap-input textarea,
[class^="wrap-input-"] textarea,
[class*=" wrap-input-"] textarea{
	height:102px;
}
/*default input(type: text, password), textarea end*/

/*default placeholder*/
::-webkit-input-placeholder {
	color:#a3a3a3;
	opacity:1;
}
:-moz-placeholder {
	color:#a3a3a3;
	opacity:1;
}
::-moz-placeholder {
	color:#a3a3a3;
	opacity:1;
}
:-ms-input-placeholder {
	color:#a3a3a3;
	opacity:1;
}
.placeholder {
	color:#a3a3a3;
	opacity:1;
}
html * :focus::-webkit-input-placeholder { color:transparent !important; }
html * :focus:-moz-placeholder { color:transparent !important; }
html * :focus::-moz-placeholder { color:transparent !important; }
html * :focus:-ms-input-placeholder { color:transparent !important; }
html * :focus.placeholder { color:transparent !important; }
/*default placeholder end*/

/*default focus*/
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus, 
input[type=datetime]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
input[type=search]:focus, 
input[type=tel]:focus, 
input[type=time]:focus, 
input[type=url]:focus,
.wrap-input.focus,
[class^="wrap-input-"].focus,
[class*=" wrap-input-"].focus {
	border-color:#1aa8f2;
}
/*default focus end*/
/*reset-focus*/
.reset-focus,
.wrap-input textarea:focus,
.wrap-input input:focus,
[class^="wrap-input-"] textarea:focus,
[class*=" wrap-input-"] textarea:focus,
[class^="wrap-input-"] input:focus,
[class*=" wrap-input-"] input:focus {
	border-color:#ccc !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	box-shadow:none !important;
}
/*reset-focus end*/

/*type valid*/
.wrap-input.valid,
[class^="wrap-input-"].valid,
[class*=" wrap-input-"].valid,
.wrap-input.valid input,
.wrap-input.valid textarea,
[class^="wrap-input-"].valid input,
[class*=" wrap-input-"].valid input,
[class^="wrap-input-"].valid textarea,
[class*=" wrap-input-"].valid textarea,
textarea.valid,
input[type=text].valid,
input[type=password].valid,
.wrap-select.valid .ui-multiselect-inner,
[class^="wrap-select-"].valid .ui-multiselect-inner,
[class*=" wrap-select-"].valid .ui-multiselect-inner {
	border-color:#78c707;
	color:#78c707;
}
/*type valid end*/

/*type error*/
.wrap-input.error,
[class^="wrap-input-"].error,
[class*=" wrap-input-"].error,
.wrap-input.error input,
.wrap-input.error textarea,
[class^="wrap-input-"].error input,
[class*=" wrap-input-"].error input,
[class^="wrap-input-"].error textarea,
[class*=" wrap-input-"].error textarea,
textarea.error,
input[type=text].error,
input[type=password].error,
.wrap-select.error .ui-multiselect-inner,
[class^="wrap-select-"].error .ui-multiselect-inner,
[class*=" wrap-select-"].error .ui-multiselect-inner {
	border-color:#f65252;
	color:#f65252;
}
/*type error end*/

/*type disabled*/
.wrap-input.disabled,
[class^="wrap-input-"].disabled,
[class*=" wrap-input-"].disabled,
textarea[disabled],
input[type=text][disabled],
input[type=password][disabled] {
	background:#f7f7f7;
	border-color:#d6d6d6;
	color:#bfbfbf;
	cursor:default !important;
}
/*type disabled end*/
/*TYPOGRAPHY STYLE END*/

/*----------GENERIC CLASSES------------*/

/*RESET AND CHANGE THE CLASS BEGIN*/
.logo {
	float:left;
	display:block;
	width:175px;
	height:11px;
	background:url(../img/logos/logo.png) 0 0 no-repeat;
	text-indent:-9999px;
	cursor:pointer;
	padding:0;
}
.logo a {
	display:block;
	border:none;
	height:12px;
}
.logo.logo-black {
	background:url(../img/logos/logo-black.png) 0 0 no-repeat;
}
.logo,
.logo a {
	text-decoration:none;
}
.navigation-title:hover{
	text-decoration:none;
	opacity:0.6;
}

/*DECORATIVE CLASSES*/
.skin-menu {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.3)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%);
}
.header-gradient {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity:0;
}
.active-h .header-gradient {
	opacity:1;
}
.header-gradient
 {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwM2Y5ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzMwM2Y5ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDNmOWYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(48,63,159,1) 0%, rgba(48,63,159,1) 60%, rgba(48,63,159,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,63,159,1)), color-stop(60%,rgba(48,63,159,1)), color-stop(100%,rgba(48,63,159,0)));
	background: -webkit-linear-gradient(top,  rgba(48,63,159,1) 0%,rgba(48,63,159,1) 60%,rgba(48,63,159,0) 100%);
	background: -o-linear-gradient(top,  rgba(48,63,159,1) 0%,rgba(48,63,159,1) 60%,rgba(48,63,159,0) 100%);
	background: -ms-linear-gradient(top,  rgba(48,63,159,1) 0%,rgba(48,63,159,1) 60%,rgba(48,63,159,0) 100%);
	background: linear-gradient(to bottom,  rgba(48,63,159,1) 0%,rgba(48,63,159,1) 60%,rgba(48,63,159,0) 100%);
}
.header-choose-currency .header-gradient{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxMmRhOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzUxMmRhOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MTJkYTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(81,45,168,1) 0%, rgba(81,45,168,1) 60%, rgba(81,45,168,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,45,168,1)), color-stop(60%,rgba(81,45,168,1)), color-stop(100%,rgba(81,45,168,0)));
	background: -webkit-linear-gradient(top,  rgba(81,45,168,1) 0%,rgba(81,45,168,1) 60%,rgba(81,45,168,0) 100%);
	background: -o-linear-gradient(top,  rgba(81,45,168,1) 0%,rgba(81,45,168,1) 60%,rgba(81,45,168,0) 100%);
	background: -ms-linear-gradient(top,  rgba(81,45,168,1) 0%,rgba(81,45,168,1) 60%,rgba(81,45,168,0) 100%);
	background: linear-gradient(to bottom,  rgba(81,45,168,1) 0%,rgba(81,45,168,1) 60%,rgba(81,45,168,0) 100%);
}
.header-banks .header-gradient {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0OGFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzQ0OGFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NDhhZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(68,138,255,1) 0%, rgba(68,138,255,1) 60%, rgba(68,138,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,138,255,1)), color-stop(60%,rgba(68,138,255,1)), color-stop(100%,rgba(68,138,255,0)));
	background: -webkit-linear-gradient(top,  rgba(68,138,255,1) 0%,rgba(68,138,255,1) 60%,rgba(68,138,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(68,138,255,1) 0%,rgba(68,138,255,1) 60%,rgba(68,138,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(68,138,255,1) 0%,rgba(68,138,255,1) 60%,rgba(68,138,255,0) 100%);
	background: linear-gradient(to bottom,  rgba(68,138,255,1) 0%,rgba(68,138,255,1) 60%,rgba(68,138,255,0) 100%);
}
.header.header-about .header-gradient{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlMmUyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzJlMmUyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZTJlMmUiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(46,46,46,1) 0%, rgba(46,46,46,1) 60%, rgba(46,46,46,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,46,46,1)), color-stop(60%,rgba(46,46,46,1)), color-stop(100%,rgba(46,46,46,0)));
	background: -webkit-linear-gradient(top,  rgba(46,46,46,1) 0%,rgba(46,46,46,1) 60%,rgba(46,46,46,0) 100%);
	background: -o-linear-gradient(top,  rgba(46,46,46,1) 0%,rgba(46,46,46,1) 60%,rgba(46,46,46,0) 100%);
	background: -ms-linear-gradient(top,  rgba(46,46,46,1) 0%,rgba(46,46,46,1) 60%,rgba(46,46,46,0) 100%);
	background: linear-gradient(to bottom,  rgba(46,46,46,1) 0%,rgba(46,46,46,1) 60%,rgba(46,46,46,0) 100%);
}
.navigation.active,
.navigation.active:after {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0.9)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%);
}
/*gradient end*/

/*transition*/
.transition-all,
a,
[class^="btn-"],
[class*=" btn-"],
.navigation-title,
.icon-menu span,
.drop-title,
.active label,
.table-bay-sale tr td,
.table-bay-sale tr td:first-child .inner:before,
.datepicker-btn,
.table-currency-converter tr  td,
.header-gradient {
	-o-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
.header-gradient {
	-o-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
/*transition end*/
/*DECORATIVE CLASSES END*/

/*clearfix*/
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
article:before,
article:after,
.buttons:before,
.buttons:after,
.columns:before,
.columns:after,
[class^="columns-"]:before,
[class*=" columns-"]:before,
[class^="columns-"]:after,
[class*=" columns-"]:after,
[class^="form-"]:before,
[class*=" form-"]:before,
[class^="form-"]:after,
[class*=" form-"]:after,
.wrap-label:before,
.wrap-label:after {
	content:"";
	display:table;
}
.clearfix:after,
.container:after,
article:after,
.buttons:after,
.columns:after,
[class^="columns-"]:after,
[class*=" columns-"]:after,
[class^="form-"]:after,
[class*=" form-"]:after,
.wrap-label:after {
	clear:both;
}
.clearfix,
.container,
article,
.buttons,
.columns,
[class^="columns-"],
[class*=" columns-"],
[class^="form-"],
[class*=" form-"],
.wrap-label {   
    zoom:1;
}
/*clearfix end*/

/*inline-block*/
.content-box,
[class^="icon-"],
[class*=" icon-"],
[class^="soc-icon-"],
[class*=" soc-icon-"],
[class^="btn-"],
[class*=" btn-"],
.choose-language li,
.title .drop,
.title  .datepicker,
.datepicker-btn,
.column,
.want-list,
.checkbox-currency-list,
.want,
.sum-currency,
.square-orange,
.square-gray,
.banks-name {
	vertical-align:top;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
/*inline-block end*/

/*===ELEMENTS===*/
/*Icons*/
[class^="icon-"],
[class*=" icon-"] {
	background-image:url(../img/sprite-icons.png);
	background-repeat:no-repeat; 
	width:20px;
	height:20px;
	vertical-align:middle !important;
} 
.icon-share{ background-position: 0 0; width: 19px; height: 18px; } 
.icon-arrow-bottom{ background-position: 0 -38px; width: 24px; height: 12px; } 
.icon-arrow-bottom-medium-blue{ background-position: 0 -70px; width: 21px; height: 12px; } 
.icon-arrow-yellow-down{ background-position: 0 -102px; width: 10px; height: 12px; } 
.icon-arrow-yellow-top{ background-position: 0 -134px; width: 10px; height: 12px; } 
.icon-arrow-bottom-medium-gray{ background-position: 0 -166px; width: 21px; height: 12px; } 
.icon-close{ background-position: 0 -198px; width: 11px; height: 11px; }
.icon-bottom-medium-white{ background-position: 0 -229px; width: 21px; height: 12px; } 
.icon-right-small-blue{ background-position: 0 -261px; width: 6px; height: 10px; } 
.icon-left-small-blue{ background-position: 0 -291px; width: 6px; height: 10px; } 
.icon-arrow-medium {       
	width:6px;
	height:6px;
        margin: -3px 0 0 8px;
	background:#dcdcdc;

}

.icon-square {
	width:6px;
	height:6px;
	background:#dcdcdc;
}
.icon-menu {
	width:18px;
	height:18px;
	cursor:pointer;
	background:none;
	position:relative;
}
.icon-menu span {
	width:18px;
	height:2px;	
	background:#fff;
	position:absolute;
	top:5px;
} 
.icon-menu span.last {
	top:10px;
}
.icon-menu span:first-child {
	top:0;
}
.icon-menu.active  span {
	-moz-transform:    rotate(90deg);
	-o-transform:      rotate(90deg);
	-webkit-transform: rotate(90deg);
}
.icon-menu.active span {
	top:5px;
	left:0px;
} 
.icon-menu.active span.last {
	top:5px;
	left:5px;
}
.icon-menu.active span:first-child {
	top:5px;
	left:-5px;
}
/*Icons end*/

/*Social icons*/
[class^="soc-icon-"],
[class*=" soc-icon-"] {
	background-image:url(../img/sprite-social.png?v2);
	background-repeat:no-repeat; 
	width:20px;
	height:20px;
}
.soc-icon-twitter{ background-position: 0 0; width: 73px; height: 15px; } 
.soc-icon-facebook{ background-position: 0 -36px; width: 79px; height: 16px; }
.soc-icon-vk{ background-position: 0 -71px; width: 25px; height: 15px; }
.soc-icon-telegram{ background-position: 0 -105px; width: 79px; height: 19px; }
/*Social icons end*/
/*===ELEMENTS END===*/

/*===BUTTONS===*/
[class^="btn-"],
[class*=" btn-"] {
	border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 27px;
    color: #FFFFFF;
    font: 800 14px/16px Roboto Condensed,Tahoma,Verdana,sans-serif;
    padding: 12px 48px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
a[class^="btn-"],
a[class*=" btn-"],
div[class^="btn-"],
div[class*=" btn-"] {
	cursor:pointer;	
}
[class^="btn-"]:hover,
[class*=" btn-"]:hover {
	color:#29368a;
	text-decoration:none;
	background:#fff;
	border: 1px solid rgba(255, 255, 255, 0);
}
[class^="btn-"] input,
[class*=" btn-"] input,
.upload input[type=file] {
	background:url(../img/empty.png) repeat;
    border:0;
    color:transparent;
    cursor: pointer;
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
	top: 0;
	left: 0;
    text-indent: -9999px;
    z-index: 10;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
[class^="btn-upload"] input[type=file],
[class*=" btn-upload"] input[type=file],
.upload input[type=file] {
	width:0;
	height:0;
	left:-99999px;
	z-index:0;
}
/*GLOBAL CORE END*/

/*blue background*/
[class^="btn-blue-"],
[class*=" btn-blue-"],
.btn-blue {
	background:#448AFF;
    font-weight: 400;
    padding: 7px 16px 8px;
    text-transform: none;
}
[class^="btn-blue-"]:hover,
[class*=" btn-blue-"]:hover,
.btn-blue:hover {
	background:#4683e9;
	color:#fff;
}
/*other buttons end*/
.btn-light {
	text-transform:none;
	padding:11px 22px 10px;
}
.btn-light-small {
    font-weight: 400;
    letter-spacing: -0.1px;
    margin: 6px 0 0 28px;
    padding: 7px 22px;
    text-transform: none;
}
/*===BUTTONS END===*/

/*-------CLASSES PAGE LAYOUT ----*/
/*BASIC BLOCKS MARKUP*/
.wrapper {
	height:auto !important;
    min-height:100%;      
	overflow:hidden;
	position:relative;
}
.header {
	position:relative;
	z-index:11;
	position:fixed;
	top:0;
	left:0;
	right:0;
}
.footer {
	position: relative;
	min-height:98px;
	margin:-98px auto 0;
	z-index:5;
	background:#2e2e2e;
}
.footer-spacer {
	height:98px;
}
.container {
	max-width:1075px;
	margin:0 auto;
	padding:0 50px;
	position:relative;
}
/*BASIC BLOCKS MARKUP END*/
.column-left,
.sidebar-left,
.column-right,
.sidebar-right {
	float:left;
	min-height:1px;
}
.column-right {
	float:right;
}
.column-middle {
	display:block;
	min-height:1px;
	overflow:hidden;
}
/*content-box*/
.content-box {
	width:100%;
}
.content-main {
	float:left;
	width:100%;
}
.content-main-inner {
	min-height:1px;
}
/*sidebar only left*/
.sidebar-left {
	margin-left:-100%;
}
/*type1, (width 290px)*/
.content-box-left .sidebar-left {
	width:290px;
}
.content-box-left .content-main-inner {
	padding-left:300px;
}
/*sidebar only left end*/

/*sidebar only right*/
/*type1, (width 350px)*/
.content-box-right .sidebar-right {
	width:350px;
	margin-left:-350px;
}
.content-box-right .content-main-inner {
	padding-right:370px;
}
/*sidebar only right end*/

/*sidebar both*/
/*type1, (left width 270px, right width 250px)*/
.content-box-both .sidebar-left {
	width:270px;
}
.content-box-both .sidebar-right {
	width:250px;
	margin-left:-250px;
}
.content-box-both .content-main-inner {
	padding-left:300px;
	padding-right:270px;
}
/*sidebar both end*/
/*content-box end*/
/*-------CLASSES PAGE LAYOUT END-------*/

/*HEADER STYLE*/
.header .container {
	padding:46px 47px 30px;
}
.header-right {
	float: right;
    margin: -4px 0px 0px;
    position: relative;
    z-index: 10;
}
.share {
	float: right;
    font: 300 16px/17px Roboto Condensed,Tahoma,Verdana,sans-serif;
    margin: 0 0 0 30px;
}
.share a {
	text-decoration:none;
}
.share .icon-share {
	margin:-2px 13px 0 0;
}
.share a:hover span {
	text-decoration:underline;
}
.choose-language {
    float: right;
    margin: -7px 0 0;
	font-weight:400;
}
.choose-language-list a {
	border: 1px solid #FFFFFF;
    border-radius: 17px;
    display: block;
    padding: 5px 14px 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.choose-language-list .active,
.choose-language-list a:hover {
	background:#fff;
	color:#30529f;
}
.choose-language-list li {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 0 5px;
}
/*header-bottom end*/

/* navigation */
.navigation.active {
    left: -1px;
    padding: 46px 48px;
    position: absolute;
    top: 0;
    z-index:11;
}
.navigation.active:after {
	position:absolute;	
	left:-9999px;
	right:100%;
	top:0;
	bottom:0;
	content:'';
}
.navigation .icon-menu, 
.popup .icon-menu 
{
	float: left;
    margin: 0 24px 0 0;
}
.hidden-menu {
	padding:52px 0 1000px;
}
.navigation-list {
    margin: 0 0 58px;
}
.navigation-list li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    margin: 0 0 10px;
    padding: 23px 0 29px;
}
.navigation-list a {
	border:none;
}
.navigation-list a:hover {
	opacity:0.6;
}
/* navigation end */

/*HEADER STYLE END*/

/*FOOTER STYLE*/
.footer .container {
	padding-top:30px;
	font-size:16px;
}
.footer .studio {
	float:right;
	color:#fff;
	opacity:0.5;
}
.footer .studio a {
	border:none;
	text-transform:uppercase;
	font-weight:800;
}
/*footer-bottom end*/

.copyright {
	letter-spacing: 3.1px;
    opacity: 0.5;
    text-transform: uppercase;
	float:left;
}
/*FOOTER STYLE END*/

/*CONTENT STYLE*/
/* today-info */
.today-info {
	background:#303F9F;
}
.today-info .container {
	position:relative;
	padding: 131px 47px 229px;
}
.scroll-link {
	bottom: 49px;
    left: 50%;
    margin-left: -13px;
    position: absolute;
}
.scroll-link:hover a{
	margin-bottom:-5px;
}
.scroll-link {
	text-align:center;
}
.price-large {
	color: #FFEB3B;
    float: left;
    font: 171px/172px helveticaneuecyr-bold,Tahoma,Verdana,sans-serif;
    padding: 12px 0 0;
}
/* today-info end */

/* table-today-info */
.table-today-info {
	float: right;
    width: 551px;
}
.table-today-info  td,
.table-today-info  th {
	padding:0;
	font-weight:normal;
	text-align:left;
	font:800 16px/17px Roboto Condensed, Tahoma, Verdana, sans-serif;
}
.table-today-info  td:last-child,
.table-today-info  th:last-child {
	width:86px;
}
.table-today-info th span {
	padding: 10px 10px 10px;
}
.table-today-info span {
	display: block;
    padding: 21px 10px 22px;
    position: relative;
    z-index: 1;
}
.icon-arrow-yellow-top,
.icon-arrow-yellow-down {
	margin:0 0 3px 11px;
}
.table-today-info tr td:first-child,
.table-today-info tr th
  {
	font-weight:400;
}
.table-today-info thead th {
	font-weight:300;
}
.table-today-info tr td:first-child div,
.table-currency-converter tr th:first-child div,
.table-today-info tr th:first-child div,
.table-bay-sale tr td:first-child .inner
 {
    position: relative;
    z-index: 1;
}
.table-today-info tr td:first-child div:before,
.table-bay-sale tr td:first-child .inner:before,
.table-currency-converter th:first-child div:before,
.table-today-info tr th:first-child div:before {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    content: "";
    height: 100%;
    left: 0;
    margin: 0 -9999px;
    padding: 0 9999px;
    position: absolute;
    top: 0;
}
.table-bay-sale tr td .inner {
	line-height:42px;
}
.banks-name{
	line-height:21px;
	vertical-align:middle;
	padding-bottom:3px;
}
.table-today-info thead th:first-child{
	padding-left:115px;
}
.table-bay-sale tr.hidden {
	display:none;
}
.table-bay-sale tr td:first-child .inner:before {
	background:#69a1ff;
	margin: -10px -22px;
	padding:10px 560px;
	opacity:0;
	cursor:pointer !important;
}
.table-bay-sale tr td:first-child .inner:before {
	background:#69a1ff;
	margin: 0 -22px;
	padding:0 560px;
	opacity:0;
	cursor:pointer !important;
}
.table-bay-sale tr:hover td:first-child .inner:before  {
	opacity:1;
	cursor:pointer !important;
}
.table-bay-sale .inner-text {
	position:relative;
	z-index:1;
	cursor:pointer !important;
}
/* table-today-info end */

/* choose-currency */
.choose-currency {
	background:#512da8;
}
.choose-currency .container {
	padding:129px 0 60px;
}
/* drop */
.drop {
	position:relative;
}
.drop .current {
        color: #f1f1f1;
        background-color: #00bcd4!important;
}
.drop-content {
	left: 1px;
        padding: 10px 0 0;
        position: absolute;
        top: 100%;
        width: 220px;
	display:none;
}
.drop-title {
	color:#00bcd4;
	cursor:pointer;
	padding:0 29px 0 0;
}
.drop-title:after ,
.datepicker-btn:after{
	background: url("../img/sprite-icons.png") repeat 0 -70px;
    content: "";
    height: 12px;
    position: absolute;
    right: 0;
    top: 16px;
    width: 21px
}
.datepicker-btn:after{
	background: url("../img/sprite-icons.png") repeat 0 -166px;
}
.datepicker-btn {
	color:#b2ebf2;
}
.drop-title.active,
.datepicker-btn.active {
	color:#fff;
}
.drop-title.active:after,
.datepicker-btn.active:after {
	background: url("../img/sprite-icons.png") repeat 0 -229px;
}
.drop-content-list li {
	font-size:15px;
	line-height:16px;
	text-transform:none;
	font: normal 800 15px/1.4 Roboto Condensed, Tahoma, Verdana, sans-serif;
}
.drop-content-list li:first-child a{
	border:none;
}
.drop-content-list  a {
	color: #4F4F4F;
    display: block;
    padding: 13px 19px 13px;
    text-decoration: none;
	border:none;
	border-top:1px solid #eaeaea;
}
.drop-content-list  a:hover {
	background:#efefef;
}
.drop-content-inner {
	background:#FFFFFF;
    border-radius: 7px;
    overflow: hidden;
}
.top-text p {
	overflow:hidden;
}
.top-text .title {
	float: left;
	margin: 0 152px 0 0;
	position: relative;
	z-index: 10;
	min-width: 301px;
}
.top-text {
	margin:0 0 50px;
}
/* choose-currency-graph */
.choose-currency-graph {
	height:421px;
}
.choose-currency-graph.usd {
	background:url(../img/bg/usd.png) 50% 35% no-repeat;
}
.choose-currency-graph.eur {
	background:url(../img/bg/eur.png) 50% 35% no-repeat;
}
/* choose-currency-graph end */
/* choose-currency end */

/* banks */
.banks {
	background:#448aff;
	min-height:770px;
}
.banks .title {
    margin: 0 0 32px;
}
.banks .container {
    padding: 129px 47px 67px;
}
.banks .btn-light-small {
    margin: 6px 0 0 28px;
	border:1px solid #fff;
}
.datepicker-btn {
	cursor:pointer;
	position:relative;
	padding:0 30px 0 0;
}
.datepicker-btn input[type="text"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    bottom: 0;
    box-shadow: none;
    cursor: pointer;
    height: 46px;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 224px;
    z-index: 10;
}

/* ui-progressbar */
.ui-progressbar {
	height:22px;
	width:238px;
	position:relative;
}
.wrap-progressbar-gray-light .ui-progressbar-value {
	right:0;
	left:auto;
	background:#b2ebf2;
	border-radius:7px 0 0 7px;
}
.wrap-progressbar-gray .ui-progressbar-value {
	border-radius:0 7px 7px 0;
}
.ui-progressbar-value {
	background:#98d1d8;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
}
.double-progressbar {
	width:478px;
}
.double-progressbar .wrap-progressbar{
	float:left;
	width:238px;
}
/* ui-progressbar end */

/* bay-sale */
.table-bay-sale {
    margin: 0 0 48px;
}
.table-bay-sale .icon-arrow-yellow-top, 
.table-bay-sale .icon-arrow-yellow-down {
    margin: 0 0 3px 5px;
}
.table-bay-sale .icon-square { margin: -4px 3px 0 6px;}
.title-sort {
	position:relative;
	border:none;
	cursor:pointer;
	z-index:1;
}
.title-sort:before,
.title-sort:after  {
	content: "";
    height: 0;
    position: absolute;
    right: -25px;
    width: 0;
}
.title-sort:after{
	border-style: solid;
	border-width: 6px 4px 0 4px;
	border-color: #fff transparent transparent transparent;
	top:7px;
}
.tablesorter-headerDesc.primary .title-sort:after,
.title-sort.double-title-sort:after {
	border-width: 0 4px 6px 4px;
	border-color: transparent transparent #fff transparent;
}
.double-title-sort:before {
	top:10px;
	border-style: solid;
	border-width: 6px 4px 0 4px;
	border-color: #fff transparent transparent transparent;
}
.double-title-sort:after {
	top:3px;
}
.tablesorter-headerDesc .title-sort.double-title-sort:after,
.tablesorter-headerAsc .title-sort.double-title-sort:before {
	display:none;
}
.time,
.increment-currensy {
	color:#80b0ff;
	padding:0 0 0 4px;
}
.increment-currensy  {
	padding:0 0 0 5px;
}
.table-bay-sale th{
	text-align:left;
	border-bottom:1px solid rgba(255,255,255,0.2);
	padding:5px 0 19px;
	font-weight:300;
}
.table-bay-sale td {
	font-weight: 400;
    line-height: 23px;
    padding:18px 1px 0;

}
.table-bay-sale td .number-c {
    vertical-align: middle;
}
.table-bay-sale tbody tr:first-child td {
	 padding:28px 1px 0;
}
.col-progressbar {
	width:478px;
}
.col-buy {
	width:183px;
}
.col-sale {
	width:136px;
}
.col-hint {
	text-align: center!important;
}
/* bay-sale end */

/* banks end */

/* datepicker */
.ui-datepicker {
	background:#FFFFFF;
    border-radius: 5px;
    display: none;
    font: 400 14px/16px Roboto,sans-serif;
    margin-left: -15px;
    margin-top: 20px;
    padding: 17px 17px 11px;
    position: absolute;
    width: 305px;
    z-index: 10000 !important;
} 
.ui-datepicker:after {
	color: #4F4F4F;
    content: "Календар";
    font-family: roboto condensed;
    font-size: 15px;
    font-weight: 300;
    height: 20px;
    left: 17px;
    position: absolute;
    top: 15px;
    width: 100px;
}
.ui-datepicker-calendar {
	border-top:1px solid #eaeaea
}
.ui-datepicker-calendar tbody tr:first-child td{
	padding-top:15px;
}
.ui-datepicker-calendar thead{
	display:none;
}
.ui-datepicker-header {
    color: #4F4F4F;
    float: right;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 0 7px;
    padding: 6px 20px;
    position: relative;
    text-align: center;
}
.ui-datepicker-title {
    margin: -8px 0 0;
	text-align:center;
}
.ui-datepicker-year {
	display:none;
}
.ui-datepicker th span {
   text-transform:uppercase;
   color:#6ac5bb;
}
.ui-datepicker-calendar span {
    padding: 0 0 1px;
}
.ui-datepicker-trigger > img {
	left: 12px;
    margin: 1px 8px 0 0;
    position: absolute;
    top: 7px;
}
.datepicker-blue  .ui-datepicker-trigger > img {
    margin: -2px 8px 0 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	background:url(../img/sprite-icons.png) no-repeat 0 -291px;
    width: 6px; 
	height: 10px;
	position: absolute;
	top: 1px;	
	left: 0px;
	text-indent:-9999px;
	overflow:hidden;
	border:none;	
}
.ui-datepicker .ui-datepicker-next {
	background-position:0 -261px;
	left:auto;
	right:2px;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover{
	opacity:0.5;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display:none;	
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;	
	border-collapse: collapse;	
}
.ui-datepicker th, 
.ui-datepicker td{
	border:0;
	text-align:center;
	vertical-align:top;
	padding:4px 4px;
	text-transform:uppercase;
	line-height:28px;
	font:14px/28px Roboto;
}
.ui-datepicker th span,
.ui-datepicker th a,
.ui-datepicker td span,
.ui-datepicker td a{	
	border: none;
    color: #32393E;
    display: block;
    margin: 0 auto;
    text-decoration: none;
	border-radius:4px;
	width:34px;
}
.ui-datepicker th span{	
	color:#68747d;
}
.ui-datepicker td .ui-state-hover{
	background:#eaeaea;
}
.ui-datepicker td .ui-state-active{
	color:#fff;
	font-weight:700;
	background:#00BDD7;
}
.ui-datepicker-other-month a{
	color:#878787;
	background:none;
	cursor:default;
}
.ui-datepicker .ui-priority-secondary,
.ui-datepicker .ui-state-disabled span {
	color:#b4b9c0;
	background:none !important;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;	
	cursor: pointer;	
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
.ui-datepicker-trigger {
    background: url("../img/empty.png") repeat scroll 0 0 transparent;
    border: medium none;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 100%;
}
.title-callendar {
	color: #4F4F4F;
    float: left;
    font-family: roboto condensed;
    font-size: 15px;
    font-weight: 300;
    margin: -2px 0 0;
}
/* datepicker */

/* about */
.about {
	background:#2e2e2e;
	padding:30px 0 20px;
}
.about .container {
    padding:99px 47px 76px;
}
.about .title {
	margin:0 0 89px;
}
.social {}
.social-list {
	margin:0 0 0 -19px;
}
.social-list li {
	float: left;
    margin: 0 0 0 20px;
}
.social-list a {
	border:none;
	opacity:0.2;
}
.social-list a:hover {
	opacity:0.5;
}
.columns {
	margin:0 0 0 -106px;
}
.columns .column {
	width:50%;
	margin-left:-4px;
}
.columns .column-inner {
	margin:0 0 0 110px;
}
.subscribe h3 {
	font: 24px/26px helveticaneuecyr-roman;
    letter-spacing: 0.6px;
    padding: 0 0 6px;
}
.subscribe h4 {
	color: #FFEC82;
    font: 24px/26px helveticaneuecyr-black;
    letter-spacing: 0.7px;
    padding: 0 0 30px;
}
.subscribe p {
	color: #FFFFFF;
    line-height: 33px;
    opacity: 0.5;
    padding: 0 33px 21px 0;
}
.subscribe-form {
	margin: 0 0 26px;
    position: relative;
    width: 330px;
}
.subscribe-form  .btn-blue {
	position:absolute;
	top:3px;
	right:3px;
	z-index:1;
}
.subscribe-form  .wrap-input {
	border: none;
    border-radius: 20px;
    padding-right: 127px;
}
.about-text {
	line-height: 34px;
    padding: 89px 0 0;
}
.about-text a {
	border-color: #fff;
}
/* about end */

/* currency-converter */
.popup {
	overflow:hidden;
	color:#1f1f1f;
	display:none;
}
.hidden-top {
	display:none;
}
.table-currency-converter {
	margin:0 -29px;
	width:110%;
}
.table-currency-converter tr:hover td{
/*	background:#EEECED;*/
}
.currency-converter {
	width:689px;
}
.popup-inner {
	padding:0 29px 20px;
	background:#fff;
	border-radius:25px;
}
.popup-title {
	background: #448AFF;
    margin: 0 -29px 25px;
    padding: 24px 28px;
	border-radius:25px 25px 0 0;
}
.popup-title h2 {
	text-transform:uppercase;
	padding:0;
	font:20px/21px;
}
.table-currency-converter th,
.table-currency-converter .title-sort{
	color:#393939;
	text-align:left;
	font-weight:300;
}
.table-currency-converter td{
	color:#393939;
	font-weight:800;
	background:#fff;
	padding:5px 2px 6px;
}
.table-currency-converter td.exchange-rates {
	color:#bababa;
}
.table-currency-converter  tr:nth-child(even) td{
    background: #f9f9f9;
} 
.table-currency-converter .title-sort:after
{
	border-style: solid;
	border-width: 6px 4px 0 4px;
	border-color: #464646 transparent transparent transparent;
	top:6px;
}
.table-currency-converter .title-sort.double-title-sort:after{
	top:3px;
}
.table-currency-converter .tablesorter-headerDesc.primary .title-sort:after,
.table-currency-converter .title-sort.double-title-sort:after {
	border-width: 0 4px 6px 4px;
	border-color: transparent transparent #464646 transparent;
}
.table-currency-converter .double-title-sort:before {
	border-color: #464646 transparent transparent transparent;
}
.table-currency-converter th:first-child div:before{
    box-shadow: 0 1px 0 #E7E6E6;
    content: "";
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -394px;
    top: 7px;
}
.table-currency-converter th span,
.table-currency-converter th a {
	position:relative;
	z-index:1;
}
.table-currency-converter th, 
.table-currency-converter td  {
	padding:4px 28px 13px;
}
.table-currency-converter td  {
	padding:9px 28px 11px;
}
.table-currency-converter td:first-child {
	font-weight:400;
}
.table-currency-converter tbody tr:first-child td{
	padding:12px 28px 11px;
}
.col-eur {
    width: 121px;
}
.col-uah {
    width: 60px;
} 
.table-currency-converter .col-uah .title-sort:after, 
.table-currency-converter .col-uah .title-sort:before,
.table-currency-converter .col-eur .title-sort:after,
.table-currency-converter .col-eur .title-sort:before
 {
    right: -17px;
}
/* want */
.want {
	margin: 0 38px 0 0;
    width: 246px;
}
.want-title,
.sum-currency-title {
	float:left;
	padding:10px 16px 0 0;
	line-height:15px;
	font-weight:400;
}
.want-list {
	border:1px solid #448aff;
	border-radius:30px;
	overflow:hidden;
}
.want-list label {
    cursor: pointer;
    display: block;
    padding:3px 18px 6px;
	color:#448aff;
	position:relative;
}
.want-list li:first-child  label { border-radius:30px 0 0 30px; } 
.want-list li:last-child  label { border-radius:0 30px 30px 0; } 
.want-list li {
	float:left;
}
.want-list em {
	font-style:normal;
}
/* want end */
.scroll-pane {
	height:289px;
	margin:0 -28px;
	padding:0 28px;
}
.jspVerticalBar {
    right: 89px;
    z-index: 10;
}
.popup-title-second {
    background:#FCFCFC;
    border-bottom: 1px solid #E4E3E3;
    margin: -24px -28px 12px;
    overflow: hidden;
    padding: 24px 28px;
}
.active label{
	background:#448aff;
	color:#fff;
}
.want-list .jquery-radiobox, 
.checkbox-currency-list .jquery-checkbox
{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.def-radio,
.def-check {
	position:absolute;
	left:-99999px;
}
/* sum-currency */
.sum-currency {
	width:164px;
	margin:0 5px 0 0;
}
.checkbox-currency-list li {
	float:left;
}
.checkbox-currency-list li:first-child label{
	border-left:0;
	border-radius:20px 0 0 20px;
}
.checkbox-currency-list li:last-child label{
	border-radius:0 20px 20px 0;
}
.checkbox-currency-list label {
	cursor:pointer;
	display:block;
	padding:4px 14px;
	position:relative;
	border-left:1px solid #448aff;
}
.checkbox-currency-list {
	border-radius:20px;
	border:1px solid #448aff;
	overflow:hidden;
}
/* sum-currency end */
/* currency-converter end */

/*default styles for forms*/
.form-row {
	padding:0 0 15px;
}
.wrap-select,
[class^="wrap-select-"],
[class*=" wrap-select-"] {
	position:relative;
}
.wrap-select select,
[class^="wrap-select-"] select,
[class*=" wrap-select-"] select {
	width:100%;
}
.wrap-label {
	color:#000;  
	font:normal normal 14px/22px Arial;
	margin:0;
	padding:0 0 10px;
}
.form-type-inline .wrap-label {
	float:left;
	padding:5px 0 2px;
	width:270px;
	text-align:right;
}
.wrap-label label {
	cursor:pointer;
}
.form-row-inner {
    margin:0 0 0 280px;
}
.form-item {
	float:left;
}
.form-item-inner {
	margin:0 0 0 20px;
}
[class^="grid-"].form-row,
[class*=" grid-"].form-row {
	margin-left:-20px !important;
}
.form-row.grid-1 .form-item {
	width:100%;
}
.form-row.grid-2 .form-item,
.form-row.grid-4 .form-item.size-2,
.form-row.grid-6 .form-item.size-3 {
	width:50%;
}
.form-row.grid-3 .form-item,
.form-row.grid-6 .form-item.size-2 {
	width:33.33%;
}
.form-row.grid-3 .form-item.size-2,
.form-row.grid-6 .form-item.size-4 {
	width:66.66% !important;
}
.form-row.grid-4 .form-item { 
	width:25%;
}
.form-row.grid-4 .form-item.size-3 {
	width:75% !important;
}
.form-row.grid-5 .form-item { 
	width:20%;
}
.form-row.grid-5 .form-item.size-2 {
	width:40% !important;
}
.form-row.grid-5 .form-item.size-3 {
	width:60% !important;
}
.form-row.grid-5 .form-item.size-4 {
	width:80% !important;
}
.form-row.grid-6 .form-item {
	width:16.666%;
}
.form-row.grid-6 .form-item.size-5 {
	width:83.33% !important;
}
.form-row.grid-7 .form-item {
	width:14.28%;
}
.form-row.grid-7 .form-item.size-2 {
	width:28.57% !important;
}
.form-row.grid-7 .form-item.size-3 {
	width:42.85% !important;
}
.form-row.grid-7 .form-item.size-4 {
	width:57.14% !important;
}
.form-row.grid-7 .form-item.size-5 {
	width:71.42% !important;
}
.form-row.grid-7 .form-item.size-6 {
	width:85.71% !important;
}
/*default styles for forms end*/


/* graphics */
.highcharts-xaxis-labels {
	margin-top:20px !important;
}
#button {
	border:1px solid #000 !important
}
.highcharts-tooltip {
	width:185px;
	position:relative;
	background:#fff;
}
.highcharts-tooltip > span {
	background:#fff;
	display:block;
	padding:10px 20px;
	border-radius:10px;
	width:180px;
	box-shadow:0 0 4px rgba(0,0,0,0.3)
}
.highcharts-tooltip b {
	font-weight:300;
}
.highcharts-tooltip td {
	padding:5px 0 10px;
	font-weight:800;
}
.highcharts-tooltip td:first-child {
	width:146px;
}
.highcharts-tooltip:after {
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	right:-49px;
	top:40px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 0 8px 6px;
	border-color: transparent transparent transparent #ffffff;
}
.highcharts-tooltip.left:after{
	left:1px;
	border-width: 7px 7px 7px 0;
	border-color: transparent #ffffff transparent transparent;
}
.highcharts-tooltip small {
	display:block;
	border-bottom:1px solid #eaeaea;
	padding:0 0 15px;
	margin:0 0 10px;
	font-size:15px;
}
.title-t {
	padding:0 75px 0 0;
}
.square-orange ,
.square-gray{
	width:8px;
	height:8px;
	background:#ff9800;
	margin:4px 13px 0 0;
}
.square-gray{
	background:#00bcd4;
}
.title-s {
	padding:3px 17px 0 0;
	color:#373737;
}
.banks-show {
	position:relative;
	height:380px;
}
.banks-graphics {
	position:absolute;
	top:26px;
	left:0;
	max-width:1072px;
	width:100%;
	z-index:10;
}
.hidden {
	display:none;
}
.skin-menu {
	position:fixed;
	z-index:-1;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:10;
	display:none;
}
/* graphics end */
.scroll-link-banks { display:none; }

/* hide html5 spinner */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}