Redirect 404 /favicon.ico

#<Location /favicon.ico>
#    Order Deny,Allow
#    Deny from all
#    ErrorDocument 404 "No favicon
#</Location>

Options -Indexes

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php 

